@import './bootstrap_custom.scss';

nav a {
  color: black;
}

footer {
  margin-top: 100px;
}

table, td, th {
  vertical-align: middle;
  border: none;
}

th {
  border-bottom: 1px solid #DDD;
}

body {
  margin: 0;
}
